PORT=3000
MONGO_URI=mongodb://localhost:27017/event_management
JWT_SECRET=event_management_secret_key
API_VERSION=v1


# I'm sharing this Env file only for assessment purposes. In a real project, this file should be empty and not shared publicly. 